@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

body {
    background-image: url('fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Teko', sans-serif;
    border-bottom: 1px solid black;
    
}

header div {
    width: 940px;
    margin: 0 auto;
    background-color: brown;    
    padding: 10px;
}

#divregistro {
    width: 400px;
    margin: 0 auto;
    
}

.velocidadestyle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#velocidader {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.522);
}

#velocidader:hover {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.439);
}


h2#resultado {
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.618);
    color: white;
    font-family: 'Teko', sans-serif;
    text-indent: 30px;
    

}

h2#resultado:hover {
    background-image: linear-gradient(to right, rgba(70, 5, 5, 0.481) 20%, rgb(239, 248, 54));
    tra   
    
}




